{% extends 'base.html' %} {% block content %}

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">ACERCA DE</h6>
            <h1 class="mb-5">Desarrolladores</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ cami }}" style="width: 300px; height: 300px;">
                <h5 class="mb-0">Camila Cedeño</h5>

                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0"><b>Estudiante:</b> Ingeniería en Ciencias de la Computación </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 99 832 5684</li>
                    </ul>
                </div>
            </div>

            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ joss}}" style="width: 300px; height: 300px;">
                <h5 class="mb-0">Joselyn Chérrez</h5>

                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0"><b>Estudiante:</b> Ingeniería en Ciencias de la Computación </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 98 459 5106</li>
                    </ul>
                </div>
            </div>
            
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ gus }}" style="width: 300px; height: 300px;">
                <h5 class="mb-0">Gustavo Contreras</h5>

                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0"><b>Estudiante:</b> Ingeniería en Ciencias de la Computación </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 98 465 0320</li>
                    </ul>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ jona }}" style="width: 300px; height: 300px;">
                <h5 class="mb-0">Jonathan Guerra</h5>
                
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0"><b>Estudiante:</b> Ingeniería en Ciencias de la Computación </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 98 340 5286</li>
                    </ul>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ alexis }}" style="width: 300px; height: 300px;">
                <h5 class="mb-0">Alexis Vallejo</h5>

                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0"><b>Estudiante:</b> Ingeniería en Ciencias de la Computación </p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: Quito, Pichincha, Ecuador</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Celular: +593 97 863 9792</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Testimonial End -->


{% endblock %}